<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <hr>
        <img src="/img/me.JPG">
        <hr><br>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;">This site is created by Falgun Makadia as a basic project under node.js v3.</p>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;">Guidance : Andrew Joseph Mead</p> 
        <p style="font-family: Georgia, 'Times New Roman', Times, serif;">This site intigrates data from mapbox.com</p> 
        </div>
        {{>footer}}
    </body>
</html>