<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <br><br>
        <h4 style="color:darkgreen">Geocoding : Converting location to co-ordinates and co-ordinates to location</h4>
        <hr>
        <p style="font-family:Georgia, 'Times New Roman', Times, serif;">Forward geocoding : The forward geocoding query type allows you to look up a single location by name and returns its geographic coordinates.</p>
        <p style="font-family:Georgia, 'Times New Roman', Times, serif;">Backward geocoding : The reverse geocoding query type allows you to look up a single pair of coordinates and returns the geographic feature or features that exist at that location.</p>
        </div>
        {{>footer}}
        
    </body>
</html>