<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        {{>header}}
        <h4>Geocoding : Converting location to co-ordinates and visa versa</h4>
        <p>Forward geocoding : The forward geocoding query type allows you to look up a single location by name and returns its geographic coordinates.</p>
        <p>Backward geocoding : The reverse geocoding query type allows you to look up a single pair of coordinates and returns the geographic feature or features that exist at that location.</p>
        {{>footer}}
    </body>
</html>